:root {
  /*spacing*/
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 16px;
  --spacing-4: 24px;
  --spacing-5: 32px;
  --spacing-6: 48px;
  --spacing-7: 56px;
  --spacing-8: 64px;

  /* font size */
  --fs-1: 0.875rem; /*14px */
  --fs-2: 1rem; /*16px*/
  --fs-3: 1.25rem; /*20px*/
  --fs-4: 2rem; /*32px*/

  /* font weight */
  --fw-bold: ;
  --fw-semibold: 700;
  --fw-medium: 600;

  /*colors*/
  --bg-light: #edeff2;
  --compSurface-light: #fff;
  --bg-surf-subtle-light: #f2f3f7;
  --iconSurface-light: #e4e6eb;
  --bg-purple-light: #7e42ff;
  --bg-soft-purple-light: #eee5ff;
  --bg-button-donar: #ffebef;
  --border-pruple-light: #5d11ff;
  --border-graySurfaces-light: #bfbfbf;
  --blue-1: #0040e0;
  --blue-2: #0071da;
  --red: #ff0000;
  --green: #00ff00;
  --black-light: #000;
  --black-text-light: #191b29;
  --shadow: rgba(0, 0, 0, 0.274);
  --shadow-2: 0px 0px 10px rgba(0, 0, 0, 0.5);
  --shadow-spread: 4px;
  --shadow-radious: 4px;
  /* for states */
  --error: #e20808;
  --warning: #f57600;
  --ok: #199a46;

  /* others */
  --font-family: Inter, Helvetica, Arial, sans-serif;
  --border-rad-comp: 8px;
  --border-rad-surf: 12px;
  --border-1: 2px solid var(--border-pruple-light);
  --border-2: 2px solid var(--border-graySurfaces-light);
  --speed: 0.3s /*500ms; ?*/;
  --headerHeight: 60px;
}
main {
  /* Sizes for layouts and margins */
  --bookSize: clamp(80px, 80px + 3vw, 166px);
  --searcher__inputSize: 60vw;
  --searcher__buttonSize: 100px;
  /* -- Grid Books and searcher sizes */
  --gridAndSearcher__size: calc(
    var(--searcher__inputSize) +
    var(--spacing-3) +
    var(--searcher__buttonSize)
  );
}
