.card-myData:not(.card-myData:last-child) {
  margin-bottom: var(--spacing-2);
}
.card-myData__left,
.card-myData__right {
  display: inline-block;
  width: 100px;
}
.card-myData__left {
  margin-right: var(--spacing-3);
}

.btn-add {
  height: 48px;
  margin-top: var(--spacing-2);
  border: var(--border-1);
  background-color: var(--bg-soft-purple-light);
}
