.card-myData:not(.card-myData:last-child) {
  margin-bottom: var(--spacing-2);
}
.card-myData__left,
.card-myData__right {
  display: inline-block;
  min-width: 100px;
}
.card-myData__left {
  margin-right: var(--spacing-3);
}
