.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login__title{
    margin-bottom: var(--spacing-5);
    font-size: 20px;
    /* TODO: Escalar el font-weight mediante variables */
    font-weight: 700;
    text-align: center;
}

.forgot-link{
    display: block;
    margin-top: var(--spacing-3);
    margin-bottom: var(--spacing-4);
    text-decoration: none;
    color: var(--blue-1);
}