button {
  /* Delete default border of button */
  border: none;
}
.formCustomBtn {
  width: 300px;
  height: 48px;
  font-size: var(--fs-2);
  font-weight: var(--fw-medium);
  margin-top: var(--spacing-3);
}

.commentsBtn {
  width: 100px;
  height: 32px;
  font-size: var(--fs-2);
}

.baseBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-rad-comp);
}

.blueBtn {
  background-color: var(--blue-2);
  color: var(--compSurface-light);
}

.purpleBtn {
  background-color: var(--bg-purple-light);
  border: var(--border-1);
  color: var(--compSurface-light);
}
.black1Btn {
  background-color: var(--bg-soft-purple-light);
  border: 2px solid black;
  color: var(--black-light);
  margin-bottom: var(--spacing-3);
}
.black2Btn {
  background-color: var(--black-light);
  border: 2px solid var(--black-light);
  color: var(--compSurface-light);
}
.black2Btn:hover {
  background-color: var(--black-text-light);
}
a.warningBtn {
  background-color: var(--warning);
  border: 2px solid #000;
  color: var(--compSurface-light);
}
.warningBtn--reportBook {
  height: 42px;
  width: 150px;
  font-size: var(--fs-2);
  font-weight: var(--fw-medium);
}
