.searcher__inputContainer {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: var(--spacing-3);
}

.searcher__input {
  max-width: 1200px;
  width: 60vw;
  min-width: 230px;
  padding: var(--spacing-1) var(--spacing-2);
  border: var(--border-1);
  border-radius: var(--border-rad-comp);
}

.searcher__button {
  height: 36px;
}

.searcher__input,
.searcher__button {
  font-size: var(--fs-2);
  font-weight: var(--fw-medium);
}
.searcher__button {
  width: 100px;
}
@media screen and (max-width: 470px) {
  .searcher__inputContainer {
    gap: var(--spacing-2);
  }
  .searcher__input {
    width: 100%;
  }
}

.searcher__moreOptsBtn {
  margin: var(--spacing-3) 0 var(--spacing-2);
  border-bottom: 2px dotted var(--black-text-light);
  background-color: transparent;
  color: var(--black-text-light);
  font-weight: var(--fw-medium);
  font-size: var(--fs-2);
  line-height: 12px;
}
.searcher__moreOptsBtn:hover {
  opacity: 0.8;
}

.searcher__moreOpts {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: var(--spacing-3);
}

/* Select inputs */
.select__indicators.css-4xgw5l-IndicatorsContainer2,
div.select__control {
  min-height: 30px;
  height: 30px;
}

.basic-single.css-b62m3t-container,
.basic-multi-select.css-b62m3t-container {
  border-radius: var(--border-rad-comp);
}
.basic-single.css-b62m3t-container {
  width: 120px;
}
