.searcher {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--spacing-3) var(--spacing-5);
}
.searcher__input,
.searcher__button {
  height: 36px;
  font-size: var(--fs-2);
  font-weight: var(--fw-medium);
}

.searcher__content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.searcher__input {
  width: 60vw;
  min-width: 300px;
  padding: var(--spacing-1) var(--spacing-2);
  border: var(--border-1);
  border-radius: var(--border-rad-comp);
}

.searcher__button {
  width: 100px;
  margin-left: var(--spacing-5);
}

.more-options__button {
  width: 150px;
  height: 36px;
  font-size: var(--fs-2);
  font-weight: var(--fw-medium);
}

.more-options__buttons{
  display: flex;
  margin: var(--spacing-2);
  justify-content: center;
  flex-wrap: wrap;
}
