/* small reset */
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol{
    list-style-type: none;
}

/* Gloabal styles */

body{
    background-color: var(--bg-light);
}

/* TODO: Revisar en que partes estoy repitiendo este estilo para eliminarlos ahí */
p, a, li, h1, h2, h3, h4, h5, h6, label{
    font-family: var(--font-family);
}

/* Sticky footer */
body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
html{
    height: 100%;
}