/* small reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* Gloabal styles */
body {
  background-color: var(--bg-light);
  overflow-x: hidden;
}

/* TODO: Revisar en que partes estoy repitiendo este estilo para eliminarlos ahí */
div,
p,
a,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
label,
button,
input,
textarea {
  font-family: var(--font-family);
}

p {
  max-width: 70ch;
}

a,
button {
  cursor: pointer;
}
a:visited,
a:link {
  color: inherit;
}
img {
  object-fit: contain;
}
textarea {
  resize: none;
}
/* Sticky footer */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}

/* Other styles */

/* Z-index issues */
.navbar {
  z-index: 90;
}
.DropDownBtn {
  z-index: 20;
}
/* padding top style */
main section:first-child {
  margin-top: var(--spacing-6);
}

.navHover:hover {
  background-color: var(--border-graySurfaces-light);
}

/* Heandings */
.display--heading {
  font-weight: var(--fw-semibold);
  font-size: clamp(2rem, 6vw, 4rem);
  text-align: center;
  margin-bottom: 8px;
  margin-top: 48px;
}

.display--subheading {
  font-weight: 400px;
  font-size: 1.5rem;
  color: rgba(130, 130, 130, 1);
  text-align: center;
  margin-bottom: 32px;
}
