:root{
    /*spacing*/
    --spacing-1: 4px;
    --spacing-2: 8px;
    --spacing-3: 16px;
    --spacing-4: 24px;
    --spacing-5: 32px;
    --spacing-6: 48px;
    --spacing-7: 56px;
    --spacing-8: 64px;

    /* font size */
    --fs-1: 0.875rem; /*14px */
    --fs-2: 1rem; /*16px*/
    --fs-3: 1.25rem; /*20px*/
    --fs-4: 2rem; /*32px*/

    /* font weight */
    --fw-bold: ;
    --fw-semibold: 700;
    --fw-medium: 600;

    /*colors*/
    --bg-light: #EDEFF2;
    --compSurface-light: #FFF;
    --iconSurface-light: #E4E6EB;
    --bg-purple-light: #7E42FF;
    --bg-soft-purple-light: #EEE5FF;
    --bg-button-donar: #FFEBEF;
    --border-pruple-light: #5D11FF;
    --border-graySurfaces-light:#BFBFBF;
    --blue-1: #0040E0;
    --blue-2: #0071DA;
    --black-light: #000;
    --shadow: rgba(0, 0, 0, 0.274);
    --shadow-spread:4px;
    --shadow-radious:4px;
    /* for states */
    --error: #E20808;
    --warning: #F57600;
    --ok: #199A46;

    /* others */
    --font-family: Inter, Helvetica, Arial, sans-serif;
    --border-rad-comp: 8px;
    --border-rad-surf: 12px;
    --border-1: 2px solid var(--border-pruple-light)
}