.navbar
    width: 100%
    display: flex
    align-items: right
    justify-content: space-between
    background: var(--compSurface-light)
    padding: 1px 1%
    box-shadow: 0px var(--shadow-spread) var(--shadow-radious) var(--shadow)
    margin-bottom: var(--spacing-6)

    /*
        Dejar la indentación o cambiar los selectores por clases
        ya que al ser etiquetas estaban generando conflictos con otros
        componentes*/
    ul
        flex: 1
        list-style: none
        text-align: right

    ul li
        display: inline-block
        margin: 20px 40px
        font-size: 20px
        cursor: pointer

    .burguer
        width: 60px
        cursor: pointer
        margin-left: 10px

    .donar
        width: 70px
        cursor: pointer
        margin-left: 1350px
        margin-right: 0
