.navbar
    width: 100%
    height: 60px
    padding: var(--spacing-3)
    display: flex
    align-items: center
    justify-content: space-between
    background: var(--compSurface-light)
    box-shadow: 0px var(--shadow-spread) var(--shadow-radious) var(--shadow)


    .right-elements
        display: flex
        align-items: center

    .right-elements__item
        margin-right: var(--spacing-3)
        font-size: var(--fs-2)
        font-weight: var(--fw-medium)

    .button-donar
        height: 40px
        margin-right: var(--spacing-4)
        padding: var(--spacing-2)
        border-radius: var(--border-rad-comp)
        border: var(--border-1)
        display: flex
        justify-content: center
        align-items: center
        background: var(--bg-button-donar)
        font-size: var(--fs-2)
        font-weight: var(--fw-medium)
        color: var(--border-pruple-light)

    //buttom burguer menu
    .menu-button,
    .menu-button-opened
        position: relative
        margin-left: var(--spacing-4)
        display: flex
        justify-content: center
        align-items: center
        height: 40px
        cursor: pointer

    //Crear barras del boton
    .menu-button-burger,
    .menu-button-burger::before,
    .menu-button-burger::after
        width: 40px
        height: 6px
        background: var(--black-light)
        border-radius: 4px
        transition: all 0.3s ease-in-out

    .menu-button-burger::before,
    .menu-button-burger::after
        content: ''
        position: absolute
        left: 0
        right: 0

    .menu-button-burger::before
        transform: translateY(-14px)

    .menu-button-burger::after
        transform: translateY(14px)

    //Crear animacion
    .menu-button-opened .menu-button-burger
        transform: translateX(-50px)
        background: transparent

    .menu-button-opened .menu-button-burger::before
        transform: rotate(45deg) translate(35px, -35px)

    .menu-button-opened .menu-button-burger::after
        transform: rotate(-45deg) translate(35px, 35px)