main {
  padding: var(--spacing-7) var(--spacing-4);
}

.cardSection {
  width: 100%;
  background-color: var(--compSurface-light);
  padding: var(--spacing-3);
  border: var(--border-2);
  border-radius: 12px;
}
.cardSection:not(.cardSection:last-child) {
  margin-bottom: var(--spacing-7);
}

.card__h1 {
  margin-bottom: var(--spacing-4);
  font-size: var(--fs-3);
  font-weight: var(--fw-semibold);
  color: var(--black-light);
}
.card__h1--center {
  text-align: center;
}
