main {
  padding: var(--spacing-7) var(--spacing-4);
}
/* Only selector for full-width cards */
.cardSection:not(.cardSection-dialog, .cardSection--notFullWidth) {
  width: 100%;
  max-width: 1400px;
}

.cardSection--notFullWidth {
  width: 80%;
}

.cardSection {
  background-color: var(--compSurface-light);
  padding: var(--spacing-5);
  border: var(--border-2);
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.cardSection:not(.cardSection:last-child) {
  margin-bottom: var(--spacing-7);
}

.card__h1 {
  margin-bottom: var(--spacing-4);
  font-size: var(--fs-3);
  font-weight: var(--fw-semibold);
  color: var(--black-light);
}
.card__h1--center {
  text-align: center;
}
.cardSection__childrenContainer {
  max-width: 1000px;
  margin: auto;
}
@media screen and (max-width: 400px) {
  .cardSection {
    padding: var(--spacing-3);
  }
}
