/* Esto debería ser parte del Searcher */
/* 
.buttonOpciones {
  width: 155px;
  height: 48px;
  background-color: black;
  color: white;
  border-radius: var(--border-rad-comp);
} */

.gridBooks {
  max-width: 1200px;
  margin: var(--spacing-6) auto 60px;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: var(--spacing-4);
  flex-wrap: wrap;
}

.gridBooks__loadMoreBtn {
  position: absolute;
  top: -24px;
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: 0 0 0 2em var(--bg-light);
}
.gridBooks__loadMoreContainer {
  width: 90vw;
  border-bottom: 3px solid #000;
  position: relative;
}
