.dragAndDropFile {
  width: 300px;
  padding: 32px;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: var(--border-rad-comp);
  border: 2px dashed var(--border-pruple-light);
  cursor: pointer;
  margin-bottom: var(--spacing-3);
}

.dragAndDropFile__img {
  width: 28px;
}

.dragAndDropFile__label {
  height: 57px;
  font-weight: 500;
}
.dragAndDropFile__label-2 {
  font-weight: 300;
  font-size: var(--fs-1);
}
.dragAndDropFile__label,
.dragAndDropFile__label-2 {
  text-align: center;
}
.dragAndDropFile--active,
.dragAndDropFile:hover {
  opacity: 0.8;
  background-color: Lavender;
}
.dragAndDropFile__fileList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}
.dragAndDropFile__fileListItem {
  max-width: 300px;
  height: 42px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--bg-surf-subtle-light);
  padding: 8px;
  border-radius: var(--border-rad-comp);
}

.dragAndDropFile__fileListItem__fileIcon {
  width: 32px;
}
.dragAndDropFile__fileListItem__fileName {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  width: auto;
  /* min-width: 100px; */
  max-width: 40%;
  white-space: nowrap;
}

.dragAndDropFile__fileListItem__fileRemove {
  width: 20px;
  margin-left: auto;
  cursor: pointer;
  transition: all;
}
.dragAndDropFile__fileListItem__fileRemove:hover {
  background-color: #fff;
  transform: scale(1.1);
}

.dragAndDropFile__fileListItem__fileSize,
.dragAndDropFile__fileListItem__fileName {
  font-size: var(--fs-1);
}
.dragAndDropFile__fileListItem__fileSize {
  color: var(--black-text-light);
  font-weight: 300;
}
