.dragAndDropFile {
  width: 300px;
  padding: 32px;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: var(--border-rad-comp);
  border: 2px dashed var(--border-pruple-light);
  cursor: pointer;
}

.dragAndDropFile__img {
  width: 28px;
}

.dragAndDropFile__label {
  height: 57px;
  font-weight: 500;
}
.dragAndDropFile__label-2 {
  font-weight: 300;
  font-size: var(--fs-1);
}
.dragAndDropFile__label,
.dragAndDropFile__label-2 {
  text-align: center;
}
.dragAndDropFile--active,
.dragAndDropFile:hover {
  opacity: 0.8;
  background-color: Lavender;
}
