.input__typeText {
  width: 300px;
  height: 36px;
  padding: var(--spacing-1) var(--spacing-2);
  margin-bottom: var(--spacing-4);
  border: var(--border-1);
  border-radius: var(--border-rad-comp);
  font-size: var(--fs-2);
}

.input__label {
  display: block;
  margin-bottom: var(--spacing-2);
  font-family: var(--font-family);
  font-size: var(--fs-2);
  font-weight: var(--fw-medium);
  color: var(--black-text-light);
}
