.btnDropDown
    position: relative
    height: 42px
    width: 150px
    padding: var(--spacing-2)
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    border-radius: var(--border-rad-comp)
    font-size: var(--fs-2)
    font-weight: var(--fw-medium)

.btnDropDown__text
    padding-left: var(--spacing-2)
    padding-right: var(--spacing-3)
    border-right: 2px solid #fff

.btnDropDown__icon
    padding-left: var(--spacing-3)
    padding-right: var(--spacing-2)

//Diseño boton descargar ---------------------------------------------------------------------------
.btnDropDown--black, .btnDropDown--black:active
    background-color: #000
    color: white

.btnDropDown--black:hover
    background-color: #000000e1

//Diseño boton compartir -----------------------------------------------------------------------------
.btnDropDown--blue, .btnDropDown--blue:active
    background-color: var(--blue-2)
    color: white

.btnDropDown--blue:hover
    background-color: #0011ffc2
//Diseño boton lista de usuarios ------------------------------------------------------------------

.icon-buttonBookListUser
    height: var(--spacing-5)
    width: 216.36px
    padding: 7px 15px
    background-color: var(--bg-purple-light)
    color: white
    border: none
    border-radius: var(--border-rad-comp)
    cursor: pointer
    font-family: var(--font-family)
    font-size: var(--spacing-3)
    font-weight: var(--fw-medium)
    align-content: center
    align-items: center
    display: flex
    justify-content: center
    margin-left: var(--spacing-3)

.icon-buttonBookListUser:hover
    background-color: var(--border-pruple-light)

.icon-buttonBookListUser:active
    background-color: var(--bg-purple-light)
    width: 216.36px

// Detalles globales ------------------------------------------------------------------------------
// Diseño dropdown menu

.btnDropdown__menu
    position: absolute
    top: 42px
    width: 150px
    background-color: var(--compSurface-light)
    // Hacer una variable para este borde TODO:
    border: 2px solid var(--border-graySurfaces-light)
    border-radius: var(--border-rad-comp)
    padding: var(--spacing-1)

.btnDropdown__menu__item
    height: 48px
    display: flex
    align-items: center
    border-radius: var(--border-rad-comp)
    transition: background var(--speed)
    padding: var(--spacing-2)

    &:hover
        background-color: var(--border-graySurfaces-light)

.btnDropdown__menu__item__icon
    width: var(--spacing-5)
    height: var(--spacing-5)
    margin-right: var(--spacing-3)
    display: flex
    justify-content: center
    align-items: center
    border-radius: var(--border-rad-comp)
    background-color: var(--iconSurface-light)

.btnDropdown__menu__item__text
    color: var(--black-light)

// Diseño dropdown menu listUser

.dropmenuBookList
    // position: absolute
    // top: 32px
    // margin: 0px 15px
    // width: 216.36px
    // background-color: var(--compSurface-light)
    // // Hacer una variable para este borde
    // border: 2px solid var(--border-graySurfaces-light)
    // border-radius: var(--border-rad-comp)
    // padding: var(--spacing-1)
