.custom-button{
    width: 300px;
    height: 52px;
    border-radius: var(--border-rad-comp);
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

.signin{
    background-color: #7E42FF;
    color-scheme: light dark;
    border: 2px solid #5D11FF;
}

.signup{
    background-color: #f1d7ff;
    border: 2px solid black;
    
}