.container {
  text-align: center;
  background-color: white;
  padding: 24px;
}

.title_container {
  font-weight: var(--fw-semibold);
  font-size: 24px;
}

.stars_container {
  width: 244;
  height: 36;
  padding: 24px;
}

.stars {
  font-size: 36px;
}
