/* ============ Rate starts ============ */
.stars_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-3);
  cursor: pointer;
}
.stars {
  font-size: 36px;
}

/* ============ book info section ============ */
.bookInfo {
  display: flex;
}

.bookInfo__img {
  height: 300px;
  border-radius: var(--border-rad-comp);
}

/* Right subcontaiber */
.bookInfo__right {
  margin-left: var(--spacing-4);
}
.bookInfo__right__name {
  font-size: var(--spacing-4);
  margin-bottom: var(--spacing-2);
}
.bookInfo__right__author {
  font-size: var(--spacing-3);
  font-weight: 500;
}
.bookInfo__right__sipnosisTitle {
  margin-bottom: var(--spacing-3);
}
.bookInfo__right__sipnosisText {
  margin-bottom: var(--spacing-5);
  overflow-wrap: break-word;
}

/* relevant info subcontainer */
.relevantInfo {
  margin-top: var(--spacing-4);
  margin-bottom: var(--spacing-5);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.relevantInfo__subCont {
  display: flex;
}
.relevantInfo__subCont:first-child,
.relevantInfo__subCont > div:not(.relevantInfo__subCont > div:last-child) {
  margin-right: var(--spacing-5);
}
.relevantInfo__icon1 {
  max-height: 24px;
  font-size: 24px;
  margin-right: var(--spacing-2);
}
.relevantInfo__icon2 {
  height: 24px;
  cursor: pointer;
}
.relevantInfo__icon2:first-child {
  margin-right: var(--spacing-3);
}
.heartLike {
  width: 24px;
}
.rank__real {
  color: var(--warning);
}
.rank__total {
  color: var(--ok);
}

/* ----- DropDown */
.btnDropDown--moreOptions {
  margin-left: var(--spacing-5);
}
/* --- specs subsection*/
.bookInfo__specs {
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--spacing-3);
  gap: var(--spacing-5);
}
.specs:first-child {
  margin-bottom: var(--spacing-3);
}
.specs__item:not(.specs__item:last-child) {
  margin-bottom: var(--spacing-2);
  display: flex;
}
.specs__item__left,
.specs__item__right {
  display: inline-block;
  width: 100px;
}
.specs__item__left {
  margin-right: var(--spacing-3);
}

.bookInfo-btns {
  margin-top: var(--spacing-5);
  display: flex;
  flex-wrap: wrap;
}
.bookInfo-btns .btnDropDown {
  margin-right: var(--spacing-3);
}

@media screen and (max-width: 610px) {
  .bookInfo {
    flex-direction: column;
  }
  .bookInfo__right {
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }
  .bookInfo__right__name {
    margin-top: var(--spacing-5);
  }
  .relevantInfo__subCont:first-child {
    margin-bottom: var(--spacing-2);
  }
  .relevantInfo__subCont:last-child {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .bookInfo-btns {
    justify-content: space-between;
  }
  .bookInfo-btns .btnDropDown,
  .bookInfo-btns .baseBtn {
    margin-top: var(--spacing-3);
  }
}
