.listExplore {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list__info__title {
  margin-bottom: var(--spacing-2);
  margin-right: var(--spacing-3);
  font-size: var(--fs-3);
  font-weight: var(--fw-semibold);
  color: var(--black-light);
}

.list__info__autor {
  font-weight: var(--fw-medium);
  font-size: var(--fs-2);
  color: #828282;
}
.list__follow {
  max-height: 32px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.list__follow__nBooks,
.list__follow__nFollowers {
  font-size: var(--fs-2);
  font-weight: var(--fw-medium);
  color: var(--bg-purple-light);
  margin-right: var(--spacing-3);
}

.list__follow__btn {
  /* width: 66px; */
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-2);
  border: var(--border-1);
  border-radius: var(--border-rad-comp);
  font-weight: var(--fw-medium);
  font-size: var(--fs-2);
}

.list__follow__btn--unfollowed {
  background-color: var(--bg-purple-light);
  color: var(--compSurface-light);
}

.list__follow__btn--followed {
  background-color: var(--bg-button-donar);
  color: var(--border-pruple-light);
}

.list__description {
  margin: var(--spacing-4) 0 var(--spacing-5);
  max-height: 100px;
  max-width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list__slider {
  margin-bottom: var(--spacing-3);
}

@media screen and (max-width: 645px) {
  .list__follow {
    width: 100%;
  }
  .list__info__autor {
    margin-bottom: var(--spacing-4);
  }
}
