.footer{
    margin-top: 48px;
    background-color: var(--compSurface-light);
    display: flex;
    justify-content: space-between;
}

.subContainer{
}

.subContainer__title{
    color: var(--bg-purple-light);
}

.subContainer__text{

}

.infoContainer{

}

.infoContainer__title{

}

.infoContainer__iconContainer{

}

.infoContainer__iconContainer__icon{
    
}