.footer{
    margin-top: 48px;
    background-color: var(--compSurface-light);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer .subContainer{
    font-size: var(--fs-2) !important;
}
.subContainer ul{
    display: flex;
    flex-direction: column;
}
.subContainer li{
    margin: 0 0 0 var(--spacing-2);
}
.subContainer a{
    text-decoration: none;
    color: var(--black-light);
}
.subContainer__title{
    color: var(--bg-purple-light);
    text-align: center;
    font-size: var(--fs-2);
}


.infoContainer{

}

.infoContainer__title{

}

.infoContainer__iconContainer{

}

.infoContainer__iconContainer__icon{
    
}