.slick-list {
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.slick-track {
  display: flex !important;
  justify-content: center !important;
  align-items: start !important;
}

.slick-slide {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: max-content;
  height: 200px; /* Establece una altura fija */
  overflow: hidden; /* Oculta el contenido desbordado */
}

.slick-slide > div {
  display: flex;
  width: max-content;
  height: max-content;
  justify-content: center;
  align-items: center;
}

.slider-book .tittleContainer {
  height: 50px; /* Ajusta esta altura según sea necesario */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Ajustar los botones de navegación */
.slick-arrow.slick-next,
.slick-arrow.slick-prev {
  opacity: 0.8;
  height: 40px;
  width: 40px;
  margin: 1px 16px;
}

.slick-prev::before,
.slick-next::before {
  display: none;
}
